<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.collegeproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/clglogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/clglogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activitys.ReviewActivity"
            android:label="@string/reviews"
            android:theme="@style/ActionbarTheme" />
        <activity
            android:name=".ui.activitys.WishListActivity"
            android:label="@string/wishlist"
            android:theme="@style/ActionbarTheme" />

        <activity android:name=".ui.layout.CollegeViewLoaderActivity" />
        <activity android:name=".ui.layout.ProfileVewPagerActivity" />
        <activity android:name=".ui.activitys.MainActivity" />
        <activity android:name=".ui.activitys.StreamActivity" />
        <activity android:name=".ui.activitys.StreamActivitys" />
        <activity android:name=".ui.activitys.RegisterActivity" />
        <activity android:name=".ui.activitys.LoginActivity" />
        <activity android:name=".ui.activitys.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>